.coinconverter {
	width: 34%;
	height: 491px;
	background: #1b1b3e;
	border: 1px solid #3a4054;
	box-sizing: border-box;
	border-radius: 20px;
	padding: 25px;

	.top-buttons {
		height: 40px;
		width: 100%;
		display: flex;
		justify-content: flex-end;

		.a-button {
			width: 40px;
			height: 40px;
			left: 114px;
			top: 0px;
			border: none;
			outline: none;
			background: #34345e;
			border-radius: 12px;
			margin-left: 10px;
		}
	}

	.pay-available {
		width: 100%;
		margin-top: 25px;
		margin-bottom: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: Poppins;
		font-style: normal;
		font-weight: 200;
		font-size: 14px;
		line-height: 24px;
		/* identical to box height, or 171% */

		font-feature-settings: 'pnum' on, 'lnum' on;

		/* Gray/10 */

		color: #8b8ca7;
	}

	.dropdown {
		display: flex;
		border: none;
		outline: none;
		justify-content: space-between;
		width: 100%;
		height: 56px;
		border: 1px solid #3b3c4e;
		box-sizing: border-box;
		border-radius: 16px;
		background: rgba(255, 255, 255, 0.05);
		padding: 0px 20px;
		align-items: center;
		.start-sec {
			display: flex;
			align-items: center;
			height: 100%;

			p {
				font-family: Poppins;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 24px;
				color: #ffffff;
				flex-grow: 0;
				margin: 0px 9px;
			}
		}

		.end-sec {
			font-family: Rubik;
			font-style: normal;
			font-weight: bold;
			font-size: 20px;
			color: #8b8ca7;
		}
	}

	.down-arr-border {
		height: 60px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sfc-usdc {
		height: 60px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: Poppins;
		font-style: normal;
		font-weight: 300;
		font-size: 14px;
		color: #8b8ca7;
		img {
			margin-left: 10px;
		}
	}
	.order-confirm {
		height: 56px;
		width: 100%;
		background: #34345e;
		border-radius: 16px;
		border: none;
		outline: none;
		font-family: Poppins;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: #ffffff52;

	}

	.the-end {
		font-family: Poppins;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		color: #8B8CA7;
		line-height: 24px;
		text-align: center;
		bottom: 0;
		margin-top: 10px;
	}
}
