.alert-route {
  .add-alert {
    height: 105px;
    width: 100%;
    background: #1b1b3e;
    border: 1px solid #3a4054;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

    .left {
      margin-left: 30px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 22px;
      line-height: 20px;
      span {
        color: white;
      }
      color: #ffffff86;
    }
    .right {
      height: 50px;
      width: 160px;
      border: none;
      outline: none;
      margin-right: 30px;

      font-family: SF Pro Text;
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 16px;
      /* identical to box height */

      text-align: center;

      color: #ffffff;
      cursor: pointer;
    }
    align-items: center;
  }
  .add-new-currency {
    width: 100%;
    position: relative;

    .a-data {
      overflow-x: scroll;
    }
    .currencys {
      width: 100%;
      height: 43px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      align-items: center;
      .left {
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
        }
        .second {
          h1 {
            font-family: SF Pro Text;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            color: #ececf5;
          }

          h2 {
            font-family: SF Pro Text;
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 13px;
            color: #7878a1;
          }
        }
      }
      .right {
        border: none;
        outline: none;
        background: transparent;
        height: 20px;
        width: 20px;
        cursor: pointer;
      }
    }
  }
}
