.mobile-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 85px;
}

.usd {
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
  
    text-align: right;
  
    color: #02d3ed;
  }
  