.portfolio-mobile-route {
  .div-box {
    width: 100%;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    position: relative;

    .first {
      position: fixed;
      // top: 0;
      left: 0;
      width: 100%;
      transform: translate(0%, 0%);
      height: 100%;
      transition: 1s all;
      // border: 1px solid white;
      // background: white;
      // z-index: 100;
    }
    .second {
      position: fixed;
      top: 0;
      // left: 100%;
      transform: translate(100%, 0%);
      width: 100%;
      // display: none;
      transition: 1s all;
    }
    .third {
      position: fixed;
      top: 0;
      // left: 200%;
      transform: translate(200%, 0%);
      width: 100%;
      // display: none;
      transition: 0.5s all;
      transition: 1s all;
    }
    .fourth {
      position: fixed;
      top: 0;
      // left: 200%;
      transform: translate(200%, 0%);
      width: 100%;
      // display: none;
      transition: 0.5s all;
      transition: 1s all;
    }
    .five {
      position: fixed;
      top: 0;
      // left: 200%;
      transform: translate(300%, 0%);
      width: 100%;
      // display: none;
      transition: 0.5s all;
      transition: 1s all;
    }
  }
  .div-box.two {
    .first {
      transform: translate(-100%, 0);
      transition: 0.5s all;
      transition: 1s all;
    }
    .second {
      transform: translate(0%, 0);
      transition: 0.5s all;
      transition: 1s all;
    }
    .third {
      transform: translate(100%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
    .fourth {
      transform: translate(100%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
    .five {
      transform: translate(200%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
  }
  .div-box.three {
    .first {
      transform: translate(-200%, 0);
      transition: 0.5s all;
      transition: 1s all;
    }
    .second {
      transform: translate(-100%, 0);
      transition: 0.5s all;
      transition: 1s all;
    }
    .third {
      transform: translate(0%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
    .fourth {
      transform: translate(100%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
    .five {
      transform: translate(200%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
  }
  .div-box.four {
    .first {
      transform: translate(-200%, 0);
      transition: 1s all;
    }
    .second {
      transform: translate(-100%, 0);
      transition: 0.5s all;
      transition: 1s all;
    }
    .third {
      transform: translate(100%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
    .fourth {
      transform: translate(0%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
    .five {
      transform: translate(100%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
  }
  .div-box.five {
    .first {
      transform: translate(-300%, 0);
      transition: 0.5s all;
      transition: 1s all;
    }
    .second {
      transform: translate(-200%, 0);
      transition: 0.5s all;
      transition: 1s all;
    }
    .third {
      transform: translate(100%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
    .fourth {
      transform: translate(-100%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
    .five {
      transform: translate(0%, 0%);
      transition: 0.5s all;
      transition: 1s all;
    }
  }
}
